language: cpp
dist: trusty
sudo: required

env:
  global:
    # works around upstream/google depot-tools suck :(
    - DEPLOY_ARCHIVE=${TRAVIS_BUILD_DIR}/../src/dist/dr-breakpad-${TRAVIS_OS_NAME}-${TRAVIS_TAG}.tar.xz

before_install: "./scripts/travis-checkout.sh"

install: "./scripts/travis-install-${TRAVIS_OS_NAME}.sh"

before_script:
- qbs setup-toolchains --detect
- qbs config defaultProfile ${QBS_PROFILE}

matrix:
  include:
  - os: linux
    env: QBS_PROFILE=gcc PATH=/opt/qt58/bin:$PATH
  - os: osx
    env: QBS_PROFILE=clang

script:
- qbs install --install-root dist -p breakpad_client debug
- qbs install --install-root dist release
- tree ./dist

after_success:
- pushd dist && tar -cvJf ${DEPLOY_ARCHIVE} * ; popd

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: WSfFtMJOaJlRy3ryWb/sLH+yzrzZ8YQQAwJuBemTfwHu6qTJbJEZLbehVsdAn3aaGGci+P/OBoe2rpMrOQsjd2AniwtnUZUlERJHLAqZM2K3QKc7cDRfo9g+AEoenVNflnw5+GWtSCTRW7GcVc7s5iTtbumtiNz/uVJCV11pdfLkDMlsos1mXnfiIS77i+oLAQ+xXNLTvaUJ2eitxjTsD+MMq/7E+iPYNrbd83fW4eu/dfBO11X5iD4tS6SQaefNYoeLfj3QInufM917y/4spx6aslHCWdcRlW3pw5BolDfLSwDDIYa7pmM5x6/pkSqZoQXlMm/1RwJoHIp5NMNwUQhaYtC9xn0uj8sKNzw7GcHFiLn5SNaiyXRSsPmimka/RY4QfRprAIa3v5jAZGFWFyF1PVKt3A9yPXR91IHcqKMgpIHONlgInyx5jhIzdKi+oMBR5+PYI6DKiMX6dvyBYFttdQrubCKe2n82fzxQrFEI7VbX6iJpu9FQLNboUCfzo3UUbs0sRjsNJXWPS4Any/FCc7L+7QaBUrnVv0yX88VFlwGCq2WY6R4U4OCmZXS1Z6oiODEI3TuV+2Bv7jYZ19g5kBZEv/HCBubasX+FkgLZt8PrWjuvY01EZfvIL5cPoakDz0E06IhGRTwZUD+ztua5e5ojDSVUpR8AfpcB+P8=
  file: ${DEPLOY_ARCHIVE}
  on:
    repo: tracernz/breakpad
    tags: true
