image: Visual Studio 2015
shallow_clone: true
clone_depth: 1

install:
  - cinst qbs
  - qbs setup-toolchains --detect
  - qbs config defaultProfile MSVC2015-x86

build_script:
  - qbs install --install-root dist -p breakpad_client debug
  - qbs install --install-root dist release

after_build:
  - ps: tree /F dist

artifacts:
  - path: dist
    name: dr-breakpad-msvc2015-$(APPVEYOR_REPO_TAG_NAME)
    type: zip

deploy:
  provider: GitHub
  description: 'Automatic build'
  auth_token:
    secure: KLuY5bPgxI9oDFmmhNWEwpPWN/9cXEWtBHt6J5OQzCfA27FHravJLDFdSAfsbsJw
  artifact: dr-breakpad-msvc2015-$(APPVEYOR_REPO_TAG_NAME).zip
  draft: true
  prerelease: false
  force_update: true
  on:
    appveyor_repo_tag: true
